.form-item
{
    float:left;
    width: 960px;
    margin-left: 50px;
    margin-top: 20px;
}
.labels
{
    display:block;
    font-weight: bold;
}

.xml a
{
    text-decoration: none;
}

.xml a:hover
{
    color:#18599B;
}
